body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid green;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    background-color: blue;
    color: white;
}

.sign{
    background-color: rgb(255, 72, 0);
    border-radius: 7px;
}
.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

section{
    display: flex;
}
.container{
    margin-top: 50px;
    border: 3px solid green;
}
.container2{
    width: 600px;
    border: 3px solid purple;
    margin: 5px;
}

.flex{
    display: flex;
    border: 3px solid olive;
    margin: 5px;
    height: 400px;
}

.pat{
    height: 400px;
}
.bet{
    margin-left: 70px;
}

h1{
    margin-top: 100px;
}
.paddy{
    display: flex;
    border: 3px solid goldenrod;
    margin: 5px;
    height: 400px;
}
.bag{
    margin-left: 15px;
    /* position: absolute; */
    z-index: 9px;
}
.best{
    margin-left: 70px;
    
}
.null{
    height: 825px;
    position: relative;
    margin-right: 100px;
    
}
.baggy{
    position: absolute;
    width: 700px;
    margin-left: 15px;
}
.cul{
    margin-left: 15px;
    position: absolute;
}

.penny{
    width: 800px;
    height: 825px;
    border: 3px solid goldenrod;
    margin: 5px;
    background-image: url(../images/Netflix.png.jpeg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    z-index: 5px;
    border: 3px solid purple;
    
}
form{
    position: absolute;
    background-color: rgb(255, 72, 0);
    width: 670px;
    margin-left: 40px;
    margin-top: 300px;
    /* align-items: center; */
}
.btn{
    /* align-items: center; */
    margin-left: 200px;
    border: none;
    background: none;
    color: white;
}
